.wrapper {
  position: fixed;
  inset: 0;
  z-index: 10000;
}

.drawer-transition {
  height: 100%;
}

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFBF1;
  padding: 32px;
}

.drawer-title {
  font-size: 1.5em;
  font-weight: bold;
}
  
.backdrop {
  position: absolute;
  inset: 0;
  background: transparent;
  backdrop-filter: blur(3px);
}