.App {
  text-align: center;
}

button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.red-button {
  background-color: #ff3d58;
}

.red-button:hover {
  background-color: #ff1a38;
}

.red-button:focus {
  box-shadow: rgba(255, 0, 34, .4) 0 0 0 3px;
}

.red-button:disabled {
  background-color: #ff99a7;
}

.red-button:active {
  background-color: #ff334e;
  box-shadow: rgba(128, 0, 17, .2) 0 1px 0 inset;
}

.yellow-button {
  background-color: #ffc107;
}

.yellow-button:hover {
  background-color: #ffbf00;
}

.yellow-button:focus {
  box-shadow: rgba(255, 191, 0, .4) 0 0 0 3px;
}

.yellow-button:disabled {
  background-color: #ffdf80;
}

.yellow-button:active {
  background-color: #ffc107;
  box-shadow: rgba(179, 134, 0, .2) 0 1px 0 inset;
}

.blue-button {
  background-color: #8bc4ff;
}

.blue-button:hover {
  background-color: #66b0ff;
}

.blue-button:focus {
  box-shadow: rgba(77, 163, 255, .4) 0 0 0 3px;
}

.blue-button:disabled {
  background-color: #cce5ff;
}

.blue-button:active {
  background-color: #66b0ff;
  box-shadow: rgba(0, 62, 128, .2) 0 1px 0 inset;
}

.green-button {
  background-color: #5cfaa9;
}

.green-button:hover {
  background-color: #39f996;
}

.green-button:focus {
  box-shadow: rgba(6, 249, 123, .4) 0 0 0 3px;
}

.green-button:disabled {
  background-color: #b5fdd8;
}

.green-button:active {
  background-color: #39f996;
  box-shadow: rgba(4, 149, 74, .2) 0 1px 0 inset;
}